*{
    font-family: segoe UI;
    background-color: #002b36;
    color: #38ada9;
    font-size: 0.9em;
}

body{
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 38em;
    margin: auto;
    color: #839496;
    background-color: #002b36;
    padding: 13px;
}




p{
    color: #839496;
}

p.under{
    text-decoration: underline;
}

p.underd{
    color: #38ada9;
}

p.font{
    font-size: 0.9em;
}



span.color{
    color: #38ada9;
    text-decoration: underline;
    font-size: 1em;
}




h1{
    font-size: 2.35em;
}

h1, h2{
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}




li{
    color: #839496;
}

li.contact{
    font-size: 1em;
}





a:hover {
    color: #657b83;
    border-bottom: 2px solid #839496;
}

a{
    text-decoration: none;
    color: #2aa198;
}





div.ep-st{
    border: dashed;
    border-color: #38ada9;
    border-radius: 10px;
    color: #839496;
    text-align: start;
    padding: 12px;
    margin: 0.8em;
    margin-left: 1px;
}

div.ep-lp{
    border: dashed;
    border-color: #38ada9;
    border-radius: 10px;
    color: #839496;
    text-align: start;
    padding: 12px;
    margin: 0.8em;
    margin-left: 1px;
}